<!DOCTYPE html>
<html lang="en" ng-app="confusionApp">

<head>
     <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head
         content must come *after* these tags -->
    <title>Ristorante Con Fusion: Menu</title>
        <!-- Bootstrap -->
    <link href="../bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="../bower_components/bootstrap/dist/css/bootstrap-theme.min.css" rel="stylesheet">
    <link href="../bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="styles/bootstrap-social.css" rel="stylesheet">
    <link href="styles/mystyles.css" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body>

    <div class="container">
        <div class="row row-content" ng-controller='DishDetailController'>
            <div class="col-xs-12">
               <div class="media">
                    <div class="media-left media-middle">
                        <a href="#">
                        <img class="media-object img-thumbnail"
                         ng-src={{dish.image}} alt="Uthappizza">
                        </a>
                    </div>
                    <div class="media-body">
                        <h2 class="media-heading">{{dish.name}}
                         <span class="label label-danger">{{dish.label}}</span>
                         <span class="badge">{{dish.price | currency}}</span></h2>
                        <p>{{dish.description}}</p>
                    </div>
                </div>
            </div>
			
			
            <div class="col-xs-9 col-xs-offset-1">
			     <p><span style="font-size: 200%;">Customer Comments </span>  &nbsp; Sort by: &nbsp;<input size="25" placeholder="search by date, author, or rating" ng-model="searchEntry">
				 </p>
                  <li class="media"  ng-repeat="comment in dish.comments | orderBy: searchEntry ">
				   <blockquote>
                     <p>{{comment.rating}} Stars </p>
					 <p>{{comment.comment}} </p>
                     <P><sup> - {{comment.author}} <span>&nbsp; {{ comment.date | date:'medium'}}</span></sup></p>
				   </blockquote>
                 
                </li>
				
		  </div>		
           
		  <div class="col-xs-9 col-xs-offset-1" ng-controller="DishCommentController">
				<blockquote ng-show="comment.comment.length > 0 && comment.author.length > 0">
                     <p>{{comment.rating}}</p>
					 <p>{{comment.comment}} </p>
                     <footer>{{comment.author}} </footer>
				   </blockquote>
		  	
                <form class="form-horizontal" name="feedbackForm" ng-submit="submitComment()" novalidate>
				
                <div class="form-group" ng-class="{ 'has-error' : feedbackForm.author.$error.required && !feedbackForm.author.$pristine }">
                        <label for="author" class="col-sm-2 control-label">Your Name</label>
                        <div class="col-sm-10">
                        <input type="text" class="form-control" id="author" name="author" placeholder="Enter Your Name" ng-model="comment.author" required>
                         <span ng-show="feedbackForm.author.$error.required && !feedbackForm.author.$pristine" class="help-block">Your name is required.</span>
						</div>
                    </div>

            
                <div class="form-group">
                       
                   <label for="numberOfStar" class="col-xs-12 col-sm-2 control-label">Number of Stars</label>
				  <div class="col-xs-12 col-sm-10" id="numberOfStar" ng-init="comment.rating=5">
				    <label class="radio-inline">
					   <input type="radio" ng-value="1"  ng-model="comment.rating"> 1
					</label>
				      <label class="radio-inline">
					   <input type="radio" ng-value="2"  ng-model="comment.rating"> 2
					</label>  
				    <label class="radio-inline">
					   <input type="radio" ng-value="3"  ng-model="comment.rating"> 3
					</label>
				     <label class="radio-inline">
					   <input type="radio" ng-value="4"  ng-model="comment.rating"> 4
					</label>
					 <label class="radio-inline">
					   <input type="radio" ng-value="5"  ng-model="comment.rating" ng-checked="true"> 5
					</label>
					 
				   
					 
				  
				 </div>
                </div>  
                                                    
                                
    
					<div class="form-group" ng-class="{ 'has-error' : feedbackForm.comment.$error.required && !feedbackForm.comment.$pristine }">
                        <label for="comment" class="col-sm-2 control-label">Your Comment</label>
                        <div class="col-sm-10">
                        <textarea class="form-control" id="comment" name="comment" rows="12" placeholder="Enter Your comment" ng-model="comment.comment" required></textarea>
                         <span ng-show="feedbackForm.comment.$error.required && !feedbackForm.comment.$pristine" class="help-block">Your comment is required.</span>
						</div>
                    </div>
					
                    <div class="form-group">
                        <div class="col-sm-offset-2 col-sm-10">
                            <button type="submit" class="btn btn-primary" ng-disabled="feedbackForm.$invalid">Submit Comment</button>
                        </div>
                    </div>
                </form>
            </div>
                   
		</div>
     </div>
    </div>
	
	


    <script src="../bower_components/angular/angular.min.js"></script>
 
         <script src="scripts/app.js"></script>
		  <script src="scripts/controllers.js"></script>
    <script src="scripts/services.js"></script>
   

</body>

</html>
